#egg-img {
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#header-row {
  background-color: #FFFF4E;
}

textarea {
  resize: vertical;
}

.container-fluid.extra-margin {
  margin-bottom: 50px;
}

* {
  /*border: 1px red solid;*/
}
